
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fundacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fundacion.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    
</head>
<body>
    <header>
        <nav class="navbar   border-bottom border-body">
            <div class="container-fluid">
                <div class="div-inicio">
                    <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Index" ><img src="https://fundacionmazzieri.com.ar/wp-content/uploads/2019/04/fundacion-mazzieri-1.jpg" width="75"/></a>
                    <a class="nav-link text-white btn-inicio" asp-area=""  asp-controller="inicio" asp-action="Index" title="Inicio"><img src="~/assets/icons/casa.png" width="40" style="vertical-align: super;" /></a>
                </div>
                
                
                <div class="navbar-collapse  d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1 justify-content-end nav-underline ">
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Aulas" asp-action="Index">Aulas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                        </li>
                        <li class="nav-item">
                            
                        </li>
                        
                        <li class="nav-item login">
                          
                            <a class="btn-pass text-blackblack visually-hidden" style=" width:120px;background-color: #F1F1EF;border:none;display:flex;margin-right:25px;border-radius:5px;" asp-area="" asp-controller= asp-action="Index" title="Modificar contraseña"><img src="/assets/icons/contrasena.png" width="28" style="margin:auto"></a>
                            <div class="btn btn-danger text-black text-decoration-none btn-salir" style=" width:120px;background-color: #2B3954;border:none;"> <a asp-area="" asp-controller="Login" asp-action="Salir" style="text-decoration:none;color:aliceblue;">Cerrar sesión</a></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark visually-hidden" asp-area="" asp-controller="Asistencias" asp-action="Index">Asistencias</a>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>
                <span id="datetime"></span> - Fundación Mazzieri &copy -
                <a style="text-decoration: underline; color: #0d6efd;" asp-area="" asp-controller="Home" asp-action="SobreNosotros">Sobre nosotros</a>
                - 
                <a style="text-decoration: underline; color: #0d6efd;" href="https://docs.google.com/document/d/1KwleTCddndIskYJ87cn0vSzD7JzHc3Vl9ICQ6y0mZQc/edit#heading=h.kcb8g7sa0fba" target="_blank">Manual de Usuario</a>
                -
                <a style="text-decoration: underline; color: #0d6efd;" href="https://www.youtube.com/channel/UC71ajPfvZ_vjPjYuUvgJOxQ" target="_blank">Videos instructivos</a>
            </p>
        </div>
       
    </footer>
    <script>
        function updateDateTime() {
            const datetimeElement = document.getElementById("datetime");
            const currentDate = new Date();
            const formattedDate = currentDate.toLocaleString(); // Puedes personalizar el formato según tus preferencias

            datetimeElement.textContent = formattedDate;
        }

        // Actualiza la fecha y hora cada segundo
        setInterval(updateDateTime, 1000);

        // Ejecuta la función inicialmente para mostrar la fecha y hora actual
        updateDateTime();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Geo.js" asp-append-version="true"></script>    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
