
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fundacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fundacion.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent border-bottom border-body">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Index"><img src="https://fundacionmazzieri.com.ar/wp-content/uploads/2019/04/fundacion-mazzieri-1.jpg" width="75" /></a>
                
                <button class="navbar-toggler bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1 justify-content-end nav-underline ">
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Aulas" asp-action="Index">Aulas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-blackblack visually-hidden" asp-area="" asp-controller="Espacios" asp-action="Index">Espacios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black visually-hidden " asp-area="" asp-controller="Turno" asp-action="Index">Turnos</a>
                        </li>
                        <li class="nav-item login">
                            <div class="btn btn-danger text-black text-decoration-none btn-salir" style=" width:80px;background-color: #2B3954;border:none;"> <a asp-area="" asp-controller="Login" asp-action="Salir" style="text-decoration:none;color:aliceblue;">Cerrar sesión</a></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark visually-hidden" asp-area="" asp-controller="Asistencias" asp-action="Index">Asistencias</a>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span id="datetime"></span> - Fundación Mazzieri &copy - 
                <a asp-area="" asp-controller="Home" asp-action="SobreNosotros">Sobre nosotros</a>
        </div>
       
    </footer>
    <script>
        function updateDateTime() {
            const datetimeElement = document.getElementById("datetime");
            const currentDate = new Date();
            const formattedDate = currentDate.toLocaleString(); // Puedes personalizar el formato según tus preferencias

            datetimeElement.textContent = formattedDate;
        }

        // Actualiza la fecha y hora cada segundo
        setInterval(updateDateTime, 1000);

        // Ejecuta la función inicialmente para mostrar la fecha y hora actual
        updateDateTime();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Geo.js" asp-append-version="true"></script>    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
