@model Fundacion.Models.Aula

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Desea eliminar el espacio @Html.DisplayFor(model => model.AuDescripcion)?</h3>
<div>
    <h4>Aula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuDescripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
