@model Fundacion.Models.Aula

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalles de Aulas</h1>

<h1>Aula</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.AuId">Modificar</a>
    <a class="btn btn-outline-danger" asp-action="Index">Volver</a>
</div>
