@model Fundacion.Models.Aula

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Aula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
