@model Fundacion.Models.Turno

@{
    ViewData["Title"] = "Detalle turno";
}

<h1>Detalles de Turnos:</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TuId"class="btn btn-outline-primary">Modificar</a> |
    <a asp-action="Index" class="btn btn-outline-danger">Volver</a>
</div>
