
.container-grid {
    height: 500px;
    margin-top: 20px;
}

h3 {
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 20px;
}

.col {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #d8d8d45c;
    border-radius: 6px;
}

.col.col1 {
        grid-column-start: 1;
        grid-column-end: 3;
}

.col:hover {
        transform: scale(1.05);
        background-color: #ece8e8;
        transition: linear 0.2s;
}

