
.container-grid {
    height: 500px;
    width:90%;
    margin-top: 20px;
    margin:auto;
}

h3 {
    cursor: pointer;
    font-size:larger;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-gap: 10px;
    width:80%;
    margin:auto;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d8d8d45c;
    border-radius: 6px;
    margin: auto;
    width: 50%;
    height: 110px;
}

.col1 {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: auto;
    margin-bottom:0px;
}

.col:hover {
        transform: scale(1.05);
        background-color: #ece8e8;
        transition: linear 0.2s;
}

