@model Fundacion.Models.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsId" />
            <div class="form-group">
                <label asp-for="UsDni" class="control-label"></label>
                <input asp-for="UsDni" class="form-control" oninput="limitarDni(this)" required/>
                <span asp-validation-for="UsDni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsApellido" class="control-label"></label>
                <input asp-for="UsApellido" class="form-control" oninput="limitarTexto(this)"/>
                <span asp-validation-for="UsApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsNombre" class="control-label"></label>
                <input asp-for="UsNombre" class="form-control" oninput="limitarTexto(this)"/>
                <span asp-validation-for="UsNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsDireccion" class="control-label"></label>
                <input asp-for="UsDireccion" class="form-control" oninput="validarDomicilio(this)" />
                <span asp-validation-for="UsDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsProvincia" class="control-label">Provincia</label>
                <select asp-for="UsProvincia" class="form-control" asp-items="ViewBag.UsProvincia" id="provinciaSelect"></select>
            </div>

            <div class="form-group" id="localidadDiv" style="display: none;">
                <label asp-for="UsLocalidad" class="control-label">Localidad</label>
                <select asp-for="UsLocalidad" class="form-control" asp-items="ViewBag.UsLocalidad" id="localidadSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsEmail" class="control-label"></label>
                <input type="email" asp-for="UsEmail" class="form-control" oninput="validarEmail(this)" />
                <span asp-validation-for="UsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsTelefono" class="control-label"></label>
                <input asp-for="UsTelefono" class="form-control" oninput="validarTelefono(this)" />
                <span asp-validation-for="UsTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsContrasena" class="control-label"></label>
                <input asp-for="UsContrasena" id="contrasena" type="password" class="form-control" maxlength="50" required />
                <span asp-validation-for="UsContrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Reingresar contraseña</label>
                <input id="reingresoContrasena" type="password" class="form-control" maxlength="50" oninput="validarReingreso(this)" required />
                <span asp-validation-for="UsContrasena" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="RoId" class="control-label"></label>
                <select asp-for="RoId" class="form-control" asp-items="ViewBag.RoId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UsActivo" /> Activo
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
