@model Fundacion.Models.Role

@{
    ViewData["Title"] = "Detalle de rol";
}

<h1>Detalles</h1>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.RoDenominacion)*@
           Rol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoDenominacion)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.RoId" class="btn btn-outline-primary">Modificar</a> *@
    <a asp-action="Index" class="btn btn-outline-danger">Volver</a>
</div>
