@model Fundacion.Models.Categoria

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Categoría</h1>

<h3>¿Esta seguro/a de borrar esta categoría?</h3>
<h3>Una vez realizado, no se podrán deshacer los cambios</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaDescripcion)
        </dd>
        <dt class = "col-sm-2">
            Valor/Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaValorHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Volver</a>
    </form>
</div>
