@model Fundacion.Models.Espacio

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Espacios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EsDescripcion" class="control-label">Descripcion</label>
                <input asp-for="EsDescripcion" class="form-control" />
                <span asp-validation-for="EsDescripcion" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="AuId" class="control-label">Aula</label>
                <select asp-for="AuId" class="form-control" asp-items="ViewBag.AuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EsDia" class="control-label">Espacio Dia</label>
                <input asp-for="EsDia" class="form-control" />
                <span asp-validation-for="EsDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsHora" class="control-label">Espacio Hora</label>
                <input asp-for="EsHora" class="form-control" />
                <span asp-validation-for="EsHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsCantHs" class="control-label">Duracion del espacio en minuto/s</label>
                <input asp-for="EsCantHs" class="form-control" />
                <span asp-validation-for="EsCantHs" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TuId" class="control-label">Turno</label>
                <select asp-for="TuId" class="form-control" asp-items="ViewBag.TuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsId" class="control-label">Usuario</label>
                <select asp-for="UsId" class="form-control" asp-items="ViewBag.UsId"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="EsActivo" class="control-label">Activo</label>
            <input asp-for="EsActivo" class="form-control" />
            <span asp-validation-for="EsActivo" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsActivo" /> @*@Html.DisplayNameFor(model => model.UsActivo)*@ <p>Activo</p>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CaId" class="control-label">Categoria</label>
                <select asp-for="CaId" class="form-control" asp-items="ViewBag.CaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-outline-primary" style="margin-top:20px" />
                <a asp-action="Index" class="btn btn-outline-danger" style="margin-top:20px">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}