@model Fundacion.Models.Espacio

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Espacio @Html.DisplayFor(model => model.EsDescripcion)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EsId" />
            <div class="form-group">
                <label asp-for="EsDescripcion" class="control-label">Descripcion</label>
                <input asp-for="EsDescripcion" class="form-control" />
                <span asp-validation-for="EsDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuId" class="control-label">Aula</label>
                <select asp-for="AuId" class="form-control" asp-items="ViewBag.AuId"></select>
                <span asp-validation-for="AuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsDia" class="control-label">Espacio Dia</label>
                <input asp-for="EsDia" class="form-control" />
                <span asp-validation-for="EsDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsHora" class="control-label">Espacio Hora</label>
                <input asp-for="EsHora" class="form-control" />
                <span asp-validation-for="EsHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsCantHs" class="control-label">Cantidad de Hora/s</label>
                <input asp-for="EsCantHs" class="form-control" />
                <span asp-validation-for="EsCantHs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuId" class="control-label">Turno</label>
                <select asp-for="TuId" class="form-control" asp-items="ViewBag.TuId"></select>
                <span asp-validation-for="TuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsId" class="control-label">Docente</label>
                <select asp-for="UsId" class="form-control" asp-items="ViewBag.UsId"></select>
                <span asp-validation-for="UsId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="EsActivo" class="control-label">Activo</label>
            <input asp-for="EsActivo" class="form-control" />
            <span asp-validation-for="EsActivo" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsActivo" /> @*@Html.DisplayNameFor(model => model.UsActivo)*@ <p>Activo</p>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CaId" class="control-label">Categoria</label>
                <select asp-for="CaId" class="form-control" asp-items="ViewBag.CaId"></select>
                <span asp-validation-for="CaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}