@model Fundacion.Data.DTO.UsuarioDTO;
@{
    ViewData["Title"] = "Ingreso";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fundacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fundacion.styles.css" asp-append-version="true" />
</head>


<form asp-action="Ingresar" style="height:90%;">
    <div class="titulo">
        <center><img src="https://fundacionmazzieri.com.ar/wp-content/uploads/2019/04/fundacion-mazzieri-1.jpg" /></center>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Ingrese DNI *</label>
        <div class="col-sm-15">
            <input type="text" placeholder="Ingrese su DNI" value="" asp-for="UsDni" class="form-control" oninput="limitarDni(this)" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Contraseña *</label>
        <div class="col-sm-15">
            <input type="password" placeholder="Ingrese su clave" value="" asp-for="UsContrasena" class="form-control" required />
            <span asp-validation-for="UsContrasena" class="text-danger"></span>
        </div>
    </div>
    <p></p>
    <div class="container">
        <center><a asp-area="" asp-controller="AccessControler" asp-action="StartRecovery">Recuperar Contraseña</a></center>
    </div>
    <center><Font color="red" size="3">DNI o Contraseña incorrecta.</Font></center>
    <center><Font color="red" size="3">Por favor reingrese sus datos y vuelva a intentar.</Font></center>
    <div class="form-group form-group-submit">
        <input type="submit" value="Ingresar" class="btn btn-primary submit" />
    </div>
</form>
<script src="~/js/site.js" asp-append-version="true"></script>
<style>
    html {
        padding: 0;
    }

    body {
        font-family: Mukta Mahee,sans-serif;
        margin: 0;
        /*background-image: url("/assets/home/fundacion-mazzieri.png");*/
        backdrop-filter: brightness(0.3);
        /* backdrop-filter: brightness(0.8); */
    }

    img {
        display: flex;
        align-self: center;
        width: 250px;
        /* margin-left: 25px; */
        /* filter: invert(1); */
        /* border-radius: 20px; */
    }

    .titulo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin: 50px; */
        margin-bottom: 0;
        margin-top: 50px;
        width: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
        color: #0057af;
        font-weight: normal;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
        font-size: 20px;
        margin-bottom: 20px;
        padding-left: 0px;
    }

    hr {
        width: 50%;
        margin: 0;
        background-color: #0040C1;
    }

    form {
        width: 500px;
        position: relative;
        background-color: white;
        height: 700px;
        margin: auto;
        border-radius: 5px;
        padding-top: 3px;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 10px 10px 10px;
        margin-top: 0;
        top: 5%;
    }

    .form-group {
        width: 60%;
        margin: auto;
        margin-top: 40px;
    }

    .form-group-text:hover {
        border-bottom: 1.3px solid white;
    }

    .input-text:focus {
        border-bottom: 2px solid #0040C1;
    }

    input {
        width: 100%;
        /* margin: 0;
            border: none;
            outline: black;
            background: transparent;
            border-bottom: 1px solid; */
    }
    /*  .form-group-submit{
            position: absolute;
            bottom: 30px;
            border: 1.5px solid;
            width: 50%;
            padding:3px;
            left:25%;
            right:25%;
            background-color: black;
            border: 0.7px solid #F9FAC4;
            border-radius: 5px;
        } */

    /* .submit{
            border: none;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1.2px;
            font-stretch: ultra-expanded;
            color: #F9FAC4;
            cursor: pointer;
        } */

</style>