@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <br />
    <h2>Sistema de Asistencia</h2>
    
    <div class="img-container">
        <img src="/assets/home/fundacion-mazzieri.png">
    </div>
</div>
