
@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="animate__animated animate__fadeInDown">¡Acerca de Nosotros!</h1>
            <br />
            <br />
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 animate__animated animate__fadeInLeft">
            <h2 class="fade-in">Nuestra Historia</h2>
            <p class="fade-in">Somos la primer camada de estudiantes de la carrera Tecnicatura Superior en Desarrollo de Software. Empezamos la carrera en 2021, hemos crecido y evolucionado para aprender sobre las necesidades de nuestros clientes y ofrecer productos y servicios de alta calidad.</p>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInRight">
            <h2 class="fade-in">Nuestro objetivo</h2>
            <p class="fade-in"> Junto a la Fundación Mazzieri trabajamos incansablemente para cumplir el objetivo de realizar este sistema de asistencias. Fue un arduo trabajo que duró un año y nos sirvió para afianzar contenidos de toda la carrera. Tanto en el diseño como en el desarrollo del software</p>
        </div>
    </div>
    <div class="row">
        <!-- Puedes seguir agregando más secciones con animaciones aquí -->

    </div>
</div>
<div class="container">
    <div class="container mt-5 text-center animate__animated animate__bounceInDown">
        <h1 class="display-4 fade-in">ISFDyT n° 124, Colón Bs. As.</h1>
        <p class="lead fade-in">El presente trabajo fue realizado en el marco de la cursada de la materia Practicas profesionalizantes III.</p>
        <br />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="animate__animated animate__fadeInLeft" style="overflow: hidden;">
                <img src="/assets/home/Nostros.jpeg" alt="Nostros" class="img-fluid" style="border-radius:15px;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="animate__animated animate__fadeInRight">
                <p class="lead">Trabajamos en el aula y en nuestras casas, fomentamos un ambiente de colaboración y creatividad.</p>
                <p>Este trabajo estuvo pensado, diagramado y organizado por la docente Magali Bobet junto al equipo de desarrollo y diseño.</p>
                <p>Los alumnos a cargo de la realización del sistema fueron:</p>
                <ul class="list-group">
                    <li class="list-group-item">Javier Uroz</li>
                    <li class="list-group-item">Matias Mobili</li>
                    <li class="list-group-item">Gabriel Mondino</li>
                    <li class="list-group-item">Nicolas Ansaloni</li>
                    <li class="list-group-item">David Ruiz Diaz</li>
                    <li class="list-group-item">Mariano Gómez</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="animate__animated animate__fadeInUp">
            <br />
            <br />
            <p class="lead">Agredecemos a la docente Magali Bobet, al equipo directivo de la institución y a la Fundación Mazzieri por la oportunidad.</p>
        </div>
    </div>
</div>
