html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: ghostwhite;
}

.img-container{
    width:auto;
}
.img-container img{
    width:100%;
}

h2,h1 {
    font-family: Mukta Mahee,sans-serif;
}
