html {
  font-size: 14px;
}

@media (min-width: 770px) {
  html {
    font-size: 16px;
  }
 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
}

.img-container{
    width:auto;
}
.img-container img{
    width:100%;
}

h2,h1 {
    font-family: Mukta Mahee,sans-serif;
}

.login {
    border-radius: 10px;

    visibility: visible;
    
}



.login:hover {
        background: #0D0F44;
        transform: scale(1.05);
        transition: linear .2s;
    }

.btn-salir {
    background-image: linear-gradient( 150deg, #0D0F44, #0D0F44 );
   
}

h4{
    transform:translateX(100px);
}
.usuario{
    font-size:20px;
}

.btn-inicio:hover {
    transform: scale(1.02);
    transition: linear .2s;
}

.div-inicio {
    display: flex;
    align-items: flex-end;
}

@media( max-width: 980px){
    .login {
        justify-content: flex-end;
    }
}

@media (width: 320px) {
   

    .btn-inicio {
        visibility: hidden;
    }
}


