@model Fundacion.Models.Asistencia

@{
    ViewData["Title"] = "Asistencia";
}

<h1>Crear</h1>

<h4>Asistencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <input class="btn btn-success" value="Verificar ubicación" id="verificarBtn" />
                <p id="ubicacionMsg"></p>
            </div>
            <!-- Agrego latitud y longitud  con estos elementos ocultos-->
            <input type="hidden" id="centroLatitud" data-latitud="@ViewBag.CentroLatitud" />
            <input type="hidden" id="centroLongitud" data-longitud="@ViewBag.CentroLongitud" />
            <!--------------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="EsId" class="control-label">Espacio</label>
                <select asp-for="EsId" class="form-control" asp-items="ViewBag.EsId" id="selectEspacio" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="AsIngreso" class="control-label">Ingreso</label>
                <input asp-for="AsIngreso" class="form-control" id="inputIngreso" disabled />
                <span asp-validation-for="AsIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsEgreso" class="control-label">Egreso</label>
                <input asp-for="AsEgreso" class="form-control" id="inputSalida" disabled />
                <span asp-validation-for="AsEgreso" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AsPresent" id="presenteCheck" disabled /> @*@Html.DisplayNameFor(model => model.AsPresent)*@ <p>Presente</p>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" id="cargarBtn" disabled />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}